<a>Event binding with Button ! </a>
<p><button (click)="onShow()">Event Binding With Button</button></p>
<p>This button triggers Alert Window</p>
<p><button (click)="showHide()">showHide</button></p>
<p>This Button is a little more complicated</p>

<p><font color="red">Here is the output area:--</font></p>
<br>
<!--

    <div *ngIf="showHide()" > 
    <strong>List Saved!</strong> Your changes has been saved.
  </div>
-->
<div *ngIf="showHide()">Your changes has been saved.</div>
<p *ngIf="showHide()">This is visible</p>
<p [hidden]="!showHide()">Test with [hidden] property binding</p>
<img src="https://www.debka.co.il/%d7%9e%d7%9b%d7%9c%d7%99%d7%aa-%d7%a0%d7%a4%d7%98-%d7%a0%d7%95%d7%a9%d7%90%d7%aa-%d7%93%d7%92%d7%9c-%d7%9c%d7%99%d7%91%d7%a8%d7%99%d7%94-%d7%91%d7%91%d7%a2%d7%9c%d7%95%d7%aa-%d7%99%d7%a9%d7%a8%d7%90/">
