<a>Event binding with Button ! </a>
<p><button (click)="onShow()">Event Binding With Button</button></p>
<p>This button triggers Alert Window</p>
<p><button (click)="showHide()">showHide</button></p>
<p>This Button is a little more complicated</p>
<!--

    <div *ngIf="showHide()" > 
    <strong>List Saved!</strong> Your changes has been saved.
  </div>
-->
<div *ngIf="showHide()">Your changes has been saved.</div>
<p *ngIf="showHide()">This is visible</p>
<p [hidden]="!showHide()">Test with [hidden]</p>
